 .headerimg{
    margin: auto;
    margin-top: 20px;
    height: 80vh;
    background: url(https://t4.ftcdn.net/jpg/03/20/46/13/360_F_320461388_5Snqf6f2tRIqiWlaIzNWrCUm1Ocaqhfm.jpg);
    background-size: cover;


}
